{% extends 'base.html.twig' %}

{% block title %}Cadastrar Usuário{% endblock %}

{% block body %}
   

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Senha'
        }) }}
      

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
